<%= render "shared/menu" %>

<main>
  <h2>Olá, <%= current_user.name %></h2>

  <table>
    <tr class="header-table">
      <th>#</th>
      <th>Palpiteiro</th>
      <th>Pontos</th>
      <th>CB</th>
      <th>VG</th>
      <th>V</th>
      <th>G</th>
    </tr>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.name %></td>
        <td><%= 0 %></td>
        <td><%= 0 %></td>
        <td><%= 0 %></td>
        <td><%= 0 %></td>
        <td><%= 0 %></td>
      </tr>
    <% end %>
  </table>

  <div class="instructions">
    <h3>Bem vindo</h3>
    <h4>Este espaço é destinado a lançamento de palpites para jogos do campeonato Brasileiro</h4>
    <hr>
    <h3>Instrucoes</h3>

    <div class="resume">

      <div class="pages">
        <h4>Paginas</h4>
        <div class="item">
          <h5>Home</h5>
          <div class="content">
          Nesta pagina contem a classificação geral de palpiteiros
          </div>
        </div>
        <hr>
        <div class="item">
          <h5>Palpites</h5>
          <div class="content">
          Ultímos palpites enviados que serão usados para calculo da pontuação do palpiteiro
          </div>
        </div>
        <hr>
        <div class="item">
          <h5>Novo</h5>
          <div class="content">
          Local aonde o palpite é lançado.<br>
          Esta disponivel para alterações de palpites ja enviados
          </div>
        </div>
      </div>
      <hr>

      <div class="gameplay">
        <h4>Pontuação</h4>
        <div class="item">
          <div class="content">
            <strong>CB - 'Cabeça'</strong><br>
            10 pontos<br>
            Quando o resultado do jogo for exatamente o palpite lançado.
          </div>
        </div>
        <hr>
        <div class="item">
          <div class="content">
            <strong>VG - 'Vitória + gol'</strong><br>
            <p>7 pontos</p>
            <p>Quando o palpiteiro acertar a vitoria do time mais o placar de algum deles, é somado 7 pontos</p>
            <p>Palpite: 3 x 2 </p>
            <p>Resultado: 3 x 1</p>
          </div>
        </div>
        <hr>
        <div class="item">
          <div class="content">
            <strong>V - 'Vitoria'</strong><br>
            <p>5 pontos</p>
            <p>Quando o palpiteiro acertar a vitoria o time que foi vencedor</p>
            <p>Palpite: 3 x 1</p>
            <p>Resultado: 2 x 0</p>
          </div>
        </div>
        <hr>
        <div class="item">
          <div class="content">
            <strong>G - 'Gols'</strong><br>
            <p>2 pontos</p>
            <p>Quando o palpiteiro acertar o placar apens de um time</p>
            <p>Palpite: 4 x 2</p>
            <p>Resultado: 0 x 2</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>