<%= render "shared/menu" %>
<h2>Jogos da Rodada</h2>

<% @bets.each do |bet| %>
  <div>
    <%= bet.game.home %>
    <%= bet.goal_home %>
    <span>X</span>
    <%= bet.goal_guest %>
    <%= bet.game.guest %>
  </div>
<% end %>

<%= link_to 'Palpitar', palpitar_path %>