<%= render "shared/menu" %>
<main>
<h2>Meus palpites</h2>

<table>
  <% @bets.each do |bet| %>
    <tr>
      <td><%= bet.game.home %></td>
      <td class="goals"><%= bet.goal_home %></td>
      <td class="devisor">X</td>
      <td class="goals"><%= bet.goal_guest %></td>
      <td class="team-guest"><%= bet.game.guest %></td>
    </tr>
    <hr style="margin: 5px 0;">
  <% end %>
</table>
</main>